{:asset-path "main.out", :optimizations :none, :output-dir "/home/jake/.boot/cache/tmp/home/jake/balloon-party-cljs/2y7/-4uyxzv/public/main.out", :output-to "/home/jake/.boot/cache/tmp/home/jake/balloon-party-cljs/2y7/-4uyxzv/public/main.js", :main boot.cljs.main3384, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__785 0x6d50e51f "adzerk.boot_cljs.impl$compile_cljs$handler__785@6d50e51f"]]}